div{
    height: 443px;
    width: 680px;
    background-color: rgb(145, 228, 236);
}
body{
    background-image: url(AJUlogo.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
